<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>TLX is requesting a new Quote</h1>
    
    <p>
      Please login to the TLX vendor portal to submit your quote.
    </p>    
  </body>
</html>