<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Feedback for RFQ <%= @quote_number %> is available from TLX Technologies, LLC.</h3>
    
    <pre>
Please log in to the TLX Supplier Portal (https://www.tlxtech.com/tlx-sn/) to view the feedback. 

If you have any questions please contact TLX at (262) 970-8660 or purchasing@tlxtech.com.

Sincerely,

TLX Purchasing Department      
    </pre>    
  </body>
</html>

