<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>TLX has submitted feedback on quote: <%= @quote_number %>.</h1>
    
    <p>
      Please login to the TLX vendor portal to view the feedback.
    </p>    
  </body>
</html>

