<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>A new RFQ (<%= @quote_number %>) is available from TLX Technologies, LLC.</h3>
    
    <p>
      Please log in to view the RFQ(s).
    </p>    
  </body>
</html>