<% provide(:title, 'Edit RFQ Quote') %>
<h1>Request For Quote</h1>

<div class="row">
  <div class="span8">
  	<% if current_user.isTLX %>
  		<%= render 'rfqquotes/rfqquote_tlx_fields' %>
  	<% else %>  	
    	<%= render 'rfqquotes/rfqquote_vendor_fields' %>
    	<%= render 'rfqquotes/rfqquote_vendor_edit_fields' %>
    <% end %>
  </div>
</div>
