<div id="rfqform_<%= rfqform.id %>">
	<li>
	  
	  <%= link_to rfqform.id.to_s.rjust(4, '0'), edit_rfqform_path(rfqform) %>
	  &nbsp&nbsp&nbsp&nbsp
	  <small>
	    <%= link_to "delete", rfqform, method: :delete,
	                data: { confirm: "Are you sure?" }, remote: true %>
	  </small>
	  
	</li>

</div>