<% provide(:title, 'Edit RFQ Form') %>
<h1>RFQ Request</h1>

<div class="row">
  <div class="span8">
    <%= render 'rfqforms/rfqform_show_fields', :locals => { :rfqform => @rfqform } %>
  </div>
</div>
