<footer class="footer">
 
    <div class="container">      
      
        <ul >
          <li><%= link_to "TLX", tlx_user_path(1), method: :post %></li>          
          <li><%= link_to "Vendor", vendor_user_path(1), method: :post %></li>
        </ul>
     
    </div>
 
</footer>